<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2004 - 2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

	<extension
		point="org.eclipse.net4j.util.factories">
		<factory
        	productGroup="org.eclipse.net4j.serverProtocols"
            type="cdo"
            class="org.eclipse.emf.cdo.server.internal.net4j.protocol.CDOPluginProtocolFactory"/>
		<factory
        	productGroup="org.eclipse.net4j.serverProtocols"
            type="failover"
            class="org.eclipse.emf.cdo.server.net4j.FailoverMonitor$AgentProtocol$Factory"/>
		<factory
        	productGroup="org.eclipse.net4j.serverProtocols"
            type="failover-client"
            class="org.eclipse.emf.cdo.server.net4j.FailoverMonitor$ClientProtocol$Factory"/>
		<factory
        	productGroup="org.eclipse.emf.cdo.server.net4j.failoverMonitors"
            type="net4j"
            class="org.eclipse.emf.cdo.server.net4j.FailoverMonitor$Factory"/>
   	</extension>

	 <extension
	       point="org.eclipse.emf.cdo.server.appExtensions">
	    <appExtension
	          class="org.eclipse.emf.cdo.server.internal.net4j.bundle.Net4jAppExtension">
	    </appExtension>
	 </extension>

</plugin>
