<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="namespaceAssigner" name="NamespaceAssigner" schema="schema/namespaceassigner.exsd"/>
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.reasoner.server.serviceconfig.SnomedReasonerServerConfigJob"
            id="com.b2international.snowowl.snomed.reasoner.server.serviceconfig.SnomedReasonerServerConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.server.protocolFactory">
      <protocolFactory
		        class="com.b2international.snowowl.snomed.reasoner.server.net4j.SnomedOntologyServerProtocol$Factory"
		        id="com.b2international.snowowl.snomed.reasoner.server.net4j.SnomedReasonerServerProtocol$Factory">
      </protocolFactory>
   </extension>
   <extension
         point="com.b2international.snowowl.snomed.reasoner.server.namespaceAssigner">
      <assigner
            class="com.b2international.snowowl.snomed.reasoner.server.diff.DefaultNamespaceAndModuleAssigner"
            priority="10">
      </assigner>
   </extension>
</plugin>
