<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	       point="org.eclipse.jdt.groovy.core.typeLookup">
	    <lookup lookup="com.b2international.commons.groovy.infer.ExtendedVisibilityFieldTypeLookup">
	      <appliesTo projectNature="org.eclipse.jdt.groovy.core.groovyNature"/>
	    </lookup>
	</extension>
</plugin>
