<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="snomedImportPostProcessor" name="SNOMED CT Import Post Processor" schema="schema/snomedImportPostProcessor.exsd"/>
   <extension-point id="snomedNamespaceAndModuleAssigner" name="SNOMED CT Namespace and Module Assigner" schema="schema/snomedNamespaceAndModuleAssigner.exsd"/>
   <extension
         point="com.b2international.snowowl.core.terminologyComponent">
      <terminologyComponent
            decorator="icons/snomed_concept_decorator.png"
            hierarchical="true"
            icon="icons/terminology_icon.png"
            id="com.b2international.snowowl.terminology.snomed.concept"
            intId="100"
            name="SNOMED CT Concept"
            terminologyId="com.b2international.snowowl.terminology.snomed">
         <supportedRefSetType
               type="SIMPLE_MAP">
         </supportedRefSetType>
         <supportedRefSetType
               type="SIMPLE">
         </supportedRefSetType>
         <supportedRefSetType
               type="ATTRIBUTE_VALUE">
         </supportedRefSetType>
         <supportedMapTargetType
               type="SIMPLE_MAP">
         </supportedMapTargetType>
         <supportedRefSetType
               type="COMPLEX_MAP">
         </supportedRefSetType>
         <supportedRefSetType
               type="EXTENDED_MAP">
         </supportedRefSetType>
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_description_decorator.png"
            hierarchical="false"
            icon="icons/tag.png"
            id="com.b2international.snowowl.terminology.snomed.description"
            intId="101"
            name="SNOMED CT Description"
            terminologyId="com.b2international.snowowl.terminology.snomed">
         <supportedRefSetType
               type="SIMPLE">
         </supportedRefSetType>
         <supportedRefSetType
               type="ATTRIBUTE_VALUE">
         </supportedRefSetType>
         <supportedRefSetType
               type="SIMPLE_MAP">
         </supportedRefSetType>
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_relationship_decorator.png"
            hierarchical="false"
            icon="icons/flag.png"
            id="com.b2international.snowowl.terminology.snomed.relationship"
            intId="102"
            name="SNOMED CT Relationship"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_refset_decorator.png"
            hierarchical="true"
            icon="icons/store.png"
            id="com.b2international.snowowl.terminology.snomed.refset"
            intId="103"
            name="SNOMED CT Reference Set"
            terminologyId="com.b2international.snowowl.terminology.snomed">
         <supportedRefSetType
               type="QUERY">
         </supportedRefSetType>
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_refset_decorator.png"
            hierarchical="false"
            icon="icons/store.png"
            id="com.b2international.snowowl.terminology.snomed.refsetmember"
            intId="104"
            name="SNOMED CT Reference Set Member"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_concept_decorator.png"
            hierarchical="false"
            icon="icons/terminology_icon.png"
            id="com.b2international.snowowl.terminology.snomed.datatype.string"
            intId="105"
            name="String Data Type"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_concept_decorator.png"
            hierarchical="false"
            icon="icons/terminology_icon.png"
            id="com.b2international.snowowl.terminology.snomed.datatype.integer"
            intId="106"
            name="Integer Data Type"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_concept_decorator.png"
            hierarchical="false"
            icon="icons/terminology_icon.png"
            id="com.b2international.snowowl.terminology.snomed.datatype.float"
            intId="107"
            name="Float Data Type"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_concept_decorator.png"
            hierarchical="false"
            icon="icons/terminology_icon.png"
            id="com.b2international.snowowl.terminology.snomed.datatype.boolean"
            intId="108"
            name="Boolean Data Type"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_concept_decorator.png"
            hierarchical="false"
            icon="icons/terminology_icon.png"
            id="com.b2international.snowowl.terminology.snomed.datatype.date"
            intId="109"
            name="Date Data Type"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
      
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.core.mrcm.io.MrcmImporterClientConfigJob"
            id="com.b2international.snowowl.snomed.core.mrcm.io.MrcmImporterClientConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.core.mrcm.io.MrcmExporterClientConfigJob"
            id="com.b2international.snowowl.snomed.core.mrcm.io.MrcmExporterClientConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
   </extension>
   <extension
         point="com.b2international.snowowl.core.terminologyComponent">
      <terminologyComponent
            decorator="icons/mrcm_editor.gif"
            hierarchical="false"
            icon="icons/mrcm_editor.gif"
            id="com.b2international.snowowl.terminology.snomed.predicate"
            intId="999"
            name="MRCM Predicate"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
   </extension>
   <extension
         point="com.b2international.snowowl.core.representation">
      <representation
            class="com.b2international.snowowl.snomed.mrcm.AttributeConstraint"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.predicate">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.datastore.snor.SnomedConstraintDocument"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.predicate">
      </representation>
   </extension>
   <extension
         point="com.b2international.snowowl.core.terminology">
      <terminology
            icon="icons/terminology_icon.png"
            id="com.b2international.snowowl.terminology.snomed"
            name="SNOMED CT"
            oid="2.16.840.1.113883.6.96"
            primaryComponentId="com.b2international.snowowl.terminology.snomed.concept"
            supportsEffectiveTime="true"
            topLevel="2">
      </terminology>
   </extension>
   <extension
         point="com.b2international.snowowl.core.representation">
      <representation
            class="com.b2international.snowowl.snomed.Concept"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.datastore.index.entry.SnomedConceptDocument"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.Description"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.description">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.datastore.index.entry.SnomedDescriptionIndexEntry"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.description">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.datastore.index.entry.SnomedRelationshipIndexEntry"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.relationship">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.Relationship"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.relationship">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.snomedrefset.SnomedRefSet"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refset">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.snomedrefset.SnomedRefSetMember"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refsetmember">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.datastore.index.entry.SnomedRefSetMemberIndexEntry"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refsetmember">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.snomedrefset.impl.SnomedMappingRefSetImpl"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refset">
      </representation>
   </extension>
   <extension
         point="com.b2international.snowowl.core.lookupService">
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedConceptLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
      </lookupService>
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedDescriptionLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.description">
      </lookupService>
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedRefSetLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refset">
      </lookupService>
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedRelationshipLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.relationship">
      </lookupService>
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedRefSetMemberLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refsetmember">
      </lookupService>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.b2international.snowowl.snomed.Concept"
            class="com.b2international.snowowl.snomed.datastore.factory.SnomedConceptAdapterFactory">
         <adapter
               type="com.b2international.snowowl.core.api.IComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="com.b2international.snowowl.snomed.datastore.index.entry.SnomedConceptDocument"
            class="com.b2international.snowowl.snomed.datastore.factory.SnomedConceptAdapterFactory">
         <adapter
               type="com.b2international.snowowl.core.api.IComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="com.b2international.snowowl.snomed.Description"
            class="com.b2international.snowowl.snomed.datastore.factory.SnomedDescriptionAdapterFactory">
         <adapter
               type="com.b2international.snowowl.core.api.IComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="com.b2international.snowowl.snomed.datastore.index.entry.SnomedDescriptionIndexEntry"
            class="com.b2international.snowowl.snomed.datastore.factory.SnomedDescriptionAdapterFactory">
         <adapter
               type="com.b2international.snowowl.core.api.IComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="com.b2international.snowowl.snomed.Relationship"
            class="com.b2international.snowowl.snomed.datastore.factory.SnomedRelationshipAdapterFactory">
         <adapter
               type="com.b2international.snowowl.core.api.IComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="com.b2international.snowowl.snomed.datastore.index.entry.SnomedRelationshipIndexEntry"
            class="com.b2international.snowowl.snomed.datastore.factory.SnomedRelationshipAdapterFactory">
         <adapter
               type="com.b2international.snowowl.core.api.IComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="com.b2international.snowowl.snomed.snomedrefset.SnomedRefSet"
            class="com.b2international.snowowl.snomed.datastore.factory.SnomedRefSetAdapterFactory">
         <adapter
               type="com.b2international.snowowl.core.api.IComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="com.b2international.snowowl.snomed.datastore.index.entry.SnomedRefSetMemberIndexEntry"
            class="com.b2international.snowowl.snomed.datastore.factory.SnomedRefSetMemberAdapterFactory">
         <adapter
               type="com.b2international.snowowl.core.api.IComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="com.b2international.snowowl.snomed.snomedrefset.SnomedRefSetMember"
            class="com.b2international.snowowl.snomed.datastore.factory.SnomedRefSetMemberAdapterFactory">
         <adapter
               type="com.b2international.snowowl.core.api.IComponent">
         </adapter>
         <adapter
               type="com.b2international.snowowl.snomed.datastore.index.entry.SnomedRefSetMemberIndexEntry">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.b2international.snowowl.core.nameProviderFactory">
      <nameProviderFactory
            class="com.b2international.snowowl.snomed.datastore.services.SnomedConceptNameProviderFactory"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
      </nameProviderFactory>
   </extension>
   <extension
         point="com.b2international.snowowl.core.nameProviderFactory">
      <nameProviderFactory
            class="com.b2international.snowowl.snomed.datastore.services.SnomedDescriptionNameProviderFactory"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.description">
      </nameProviderFactory>
   </extension>
   <extension
         point="com.b2international.snowowl.core.nameProviderFactory">
      <nameProviderFactory
            class="com.b2international.snowowl.snomed.datastore.services.SnomedRelationshipNameProviderFactory"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.relationship">
      </nameProviderFactory>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.datastore.LanguageConfigurationProviderConfigJob"
            id="com.b2international.snowowl.snomed.datastore.LanguageConfigurationProviderConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.datastore.serviceconfig.SearchProfileManagerConfigJob"
            id="com.b2international.snowowl.snomed.datastore.serviceconfig.SearchProfileManagerConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.datastore.serviceconfig.ConceptNameProviderClientJob"
            id="com.b2international.snowowl.snomed.datastore.serviceconfig.ConceptNameProviderClientJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.datastore.serviceconfig.DescriptionNameProviderClientJob"
            id="com.b2international.snowowl.snomed.datastore.serviceconfig.ConceptNameProviderClientJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.datastore.serviceconfig.RelationshipNameProviderClientJob"
            id="com.b2international.snowowl.snomed.datastore.serviceconfig.ConceptNameProviderClientJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.repository">
      <repository
            name="SNOMED CT Store"
            namespaceId="6"
            toolingId="com.b2international.snowowl.terminology.snomed"
            uuid="snomedStore">
         <nsUri
               uri="http://b2international.com/snowowl/sct/1.0">
         </nsUri>
         <nsUri
               uri="http://b2international.com/snowowl/snomed/refset/1.0">
         </nsUri>
         <nsUri
               uri="http://b2international.com/snowowl/snomed/mrcm">
         </nsUri>
      </repository>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.contentAvailabilityInfoProvider">
      <provider
            class="com.b2international.snowowl.snomed.datastore.SnomedAvailabilityInfoProvider">
      </provider>
   </extension>
   <extension
         point="com.b2international.snowowl.core.bootstrapFragments">
      <bootstrapFragment
            class="com.b2international.snowowl.snomed.datastore.id.SnomedIdentifierBootstrap">
      </bootstrapFragment>
      <bootstrapFragment
            class="com.b2international.snowowl.snomed.datastore.internal.boot.SnomedCoreBootstrap">
      </bootstrapFragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b2international.snowowl.snomed.datastore.ConceptIdPropertyTester"
            id="com.b2international.snowowl.snomed.datastore.ConceptIdProp"
            namespace="com.b2international.snowowl.snomed.datastore"
            properties="conceptId"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.mappingProvider">
      <provider
            class="com.b2international.snowowl.snomed.datastore.index.SnomedMappingProvider">
      </provider>
   </extension>
</plugin>
