<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="snomedImportPostProcessor" name="SNOMED CT Import Post Processor" schema="schema/snomedImportPostProcessor.exsd"/>
   <extension-point id="snomedNamespaceAndModuleAssigner" name="SNOMED CT Namespace and Module Assigner" schema="schema/snomedNamespaceAndModuleAssigner.exsd"/>
   <extension
         point="com.b2international.snowowl.core.terminology">
      <terminology
            icon="icons/terminology_icon.png"
            id="com.b2international.snowowl.terminology.snomed"
            name="SNOMED CT"
            oid="2.16.840.1.113883.6.96"
            primaryComponentId="com.b2international.snowowl.terminology.snomed.concept"
            supportsEffectiveTime="true"
            topLevel="2">
      </terminology>
   </extension>
   <extension
         point="com.b2international.snowowl.core.terminologyComponent">
      <terminologyComponent
            decorator="icons/snomed_concept_decorator.png"
            hierarchical="true"
            icon="icons/terminology_icon.png"
            id="com.b2international.snowowl.terminology.snomed.concept"
            intId="100"
            name="SNOMED CT Concept"
            terminologyId="com.b2international.snowowl.terminology.snomed">
         <!-- Referenced components -->
         <supportedRefSetType type="SIMPLE_MAP" />
         <supportedRefSetType type="SIMPLE_MAP_WITH_DESCRIPTION" />
         <supportedRefSetType type="SIMPLE" />
         <supportedRefSetType type="ATTRIBUTE_VALUE" />
         <supportedRefSetType type="COMPLEX_MAP" />
         <supportedRefSetType type="EXTENDED_MAP" />
         <!-- Map targets -->
         <supportedMapTargetType type="SIMPLE_MAP" />
         <supportedMapTargetType type="SIMPLE_MAP_WITH_DESCRIPTION" />
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_description_decorator.png"
            hierarchical="false"
            icon="icons/tag.png"
            id="com.b2international.snowowl.terminology.snomed.description"
            intId="101"
            name="SNOMED CT Description"
            terminologyId="com.b2international.snowowl.terminology.snomed">
         <!-- Referenced components -->
         <supportedRefSetType type="SIMPLE" />
         <supportedRefSetType type="ATTRIBUTE_VALUE" />
         <supportedRefSetType type="LANGUAGE" />
         <supportedRefSetType type="SIMPLE_MAP" />
         <supportedRefSetType type="SIMPLE_MAP_WITH_DESCRIPTION" />
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_relationship_decorator.png"
            hierarchical="false"
            icon="icons/flag.png"
            id="com.b2international.snowowl.terminology.snomed.relationship"
            intId="102"
            name="SNOMED CT Relationship"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_refset_decorator.png"
            hierarchical="true"
            icon="icons/store.png"
            id="com.b2international.snowowl.terminology.snomed.refset"
            intId="103"
            name="SNOMED CT Reference Set"
            terminologyId="com.b2international.snowowl.terminology.snomed">
         <!-- Referenced components -->
         <supportedRefSetType type="QUERY" />
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/snomed_refset_decorator.png"
            hierarchical="false"
            icon="icons/store.png"
            id="com.b2international.snowowl.terminology.snomed.refsetmember"
            intId="104"
            name="SNOMED CT Reference Set Member"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
      <terminologyComponent
            decorator="icons/mrcm_editor.gif"
            hierarchical="false"
            icon="icons/mrcm_editor.gif"
            id="com.b2international.snowowl.terminology.snomed.constraint"
            intId="105"
            name="SNOMED CT MRCM Constraint"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </terminologyComponent>
   </extension>
   <extension
         point="com.b2international.snowowl.core.representation">
      <representation
            class="com.b2international.snowowl.snomed.Concept"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.datastore.index.entry.SnomedConceptDocument"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.Description"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.description">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.datastore.index.entry.SnomedDescriptionIndexEntry"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.description">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.Relationship"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.relationship">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.datastore.index.entry.SnomedRelationshipIndexEntry"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.relationship">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.snomedrefset.SnomedRefSet"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refset">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.snomedrefset.SnomedRefSetMember"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refsetmember">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.datastore.index.entry.SnomedRefSetMemberIndexEntry"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refsetmember">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.snomedrefset.impl.SnomedMappingRefSetImpl"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refset">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.mrcm.AttributeConstraint"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.constraint">
      </representation>
      <representation
            class="com.b2international.snowowl.snomed.datastore.index.constraint.SnomedConstraintDocument"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.constraint">
      </representation>
   </extension>
   <extension
         point="com.b2international.snowowl.core.lookupService">
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedConstraintLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.constraint">
      </lookupService>
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedConceptLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
      </lookupService>
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedDescriptionLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.description">
      </lookupService>
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedRefSetLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refset">
      </lookupService>
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedRelationshipLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.relationship">
      </lookupService>
      <lookupService
            class="com.b2international.snowowl.snomed.datastore.SnomedRefSetMemberLookupService"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refsetmember">
      </lookupService>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.repository">
      <repository
            name="SNOMED CT Store"
            namespaceId="6"
            toolingId="com.b2international.snowowl.terminology.snomed"
            uuid="snomedStore">
         <nsUri
               uri="http://b2international.com/snowowl/sct/1.0">
         </nsUri>
         <nsUri
               uri="http://b2international.com/snowowl/snomed/refset/1.0">
         </nsUri>
         <nsUri
               uri="http://b2international.com/snowowl/snomed/mrcm">
         </nsUri>
      </repository>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.contentAvailabilityInfoProvider">
      <provider
            class="com.b2international.snowowl.snomed.datastore.SnomedAvailabilityInfoProvider">
      </provider>
   </extension>
   <extension
         point="com.b2international.snowowl.core.bootstrapFragments">
      <bootstrapFragment
            class="com.b2international.snowowl.snomed.datastore.id.SnomedIdentifierBootstrap">
      </bootstrapFragment>
      <bootstrapFragment
            class="com.b2international.snowowl.snomed.datastore.internal.boot.SnomedCoreBootstrap">
      </bootstrapFragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b2international.snowowl.snomed.datastore.ConceptIdPropertyTester"
            id="com.b2international.snowowl.snomed.datastore.ConceptIdProp"
            namespace="com.b2international.snowowl.snomed.datastore"
            properties="conceptId"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.core.mrcm.io.MrcmImporterClientConfigJob"
            id="com.b2international.snowowl.snomed.core.mrcm.io.MrcmImporterClientConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.core.mrcm.io.MrcmExporterClientConfigJob"
            id="com.b2international.snowowl.snomed.core.mrcm.io.MrcmExporterClientConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
   </extension>  
   <extension
         point="com.b2international.snowowl.datastore.mappingProvider">
      <provider
            class="com.b2international.snowowl.snomed.datastore.index.SnomedMappingProvider">
      </provider>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.validationIssueDetailExtension">
      <validationIssueDetailExtension
            class="com.b2international.snowowl.snomed.validation.detail.SnomedValidationIssueDetailExtension">
      </validationIssueDetailExtension>
   </extension>
</plugin>
