<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="automapService" name="automapService" schema="schema/automapService.exsd"/>
   <extension
         point="com.b2international.snowowl.core.nameProviderFactory">
      <nameProviderFactory
            class="com.b2international.snowowl.snomed.refset.core.services.SnomedRefSetMemberNameProviderFactory"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refsetmember">
      </nameProviderFactory>
   </extension>
   <extension
         point="com.b2international.snowowl.core.nameProviderFactory">
      <nameProviderFactory
            class="com.b2international.snowowl.snomed.refset.core.services.SnomedRefSetNameProviderFactory"
            terminologyComponentId="com.b2international.snowowl.terminology.snomed.refset">
      </nameProviderFactory>
   </extension>

</plugin>
