<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.b2international.com/snowowl/dsl/ESCG" 
       class = "com.b2international.snowowl.dsl.escg.EscgPackage"
       genModel = "com/b2international/snowowl/dsl/ESCG.genmodel" /> 
	
  </extension>
  <extension
        point="com.b2international.snowowl.core.representation">
     <representation
           class="com.b2international.snowowl.dsl.escg.Concept"
           terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
     </representation>
     <representation
           class="com.b2international.snowowl.dsl.escg.impl.ConceptImpl"
           terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
     </representation>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="com.b2international.snowowl.dsl.escg.Concept"
           class="com.b2international.snowowl.dsl.escg.factory.SnomedESCGConceptAdapterFactory">
        <adapter
              type="com.b2international.snowowl.core.api.IComponent">
        </adapter>
     </factory>
  </extension>
  <extension
        point="com.b2international.snowowl.core.expressionUriEvaluator">
     <evaluator
           class="com.b2international.snowowl.dsl.escg.EscgExpressionUriEvaluator"
           id="com.b2international.snowowl.dsl.escg.evaluator"
           language="ESCG">
     </evaluator>
  </extension>
  <extension
        point="com.b2international.snowowl.core.bootstrapFragments">
     <bootstrapFragment
           class="com.b2international.snowowl.dsl.EscgBootstrap">
     </bootstrapFragment>
  </extension>

</plugin>
