<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2004 - 2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension-point id="viewProviders" name="%extension-point.name.0" schema="schema/viewProviders.exsd"/>

   <extension
  			point="org.eclipse.emf.ecore.generated_package">
     <package
       		uri="http://www.eclipse.org/emf/CDO/Eresource/4.0.0"
       		class="org.eclipse.emf.cdo.eresource.EresourcePackage"
       		genModel="model/eresource.genmodel"/>
     <package
           class="org.eclipse.emf.cdo.etypes.EtypesPackage"
           genModel="model/etypes.genmodel"
           uri="http://www.eclipse.org/emf/CDO/Etypes/4.0.0">
     </package>
   </extension>


   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.emf.cdo.eresource.impl.CDOResourceFactoryImpl"
            protocolName="cdo">
      </parser>
   </extension>

   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="org.eclipse.emf.cdo.session.properties"
         type="org.eclipse.emf.cdo.session.CDOSession"
         namespace="org.eclipse.emf.cdo.session"
         properties="open,sessionID,userID,passiveUpdateEnabled,lastUpdateTime,passiveUpdateMode,repositoryName,repositoryUUID,repositoryType,repositoryState,repositoryCreationTime,supportingAudits,supportingBranches,supportingEcore,ensureReferentialIntegrity,idGenerationLocation,storeType,objectIDTypes"
         class="org.eclipse.emf.internal.cdo.session.SessionProperties$Tester"/>
      <propertyTester
         id="org.eclipse.emf.cdo.view.properties"
         type="org.eclipse.emf.cdo.view.CDOView"
         namespace="org.eclipse.emf.cdo.view"
         properties="open,viewID,branchName,branch,timeStamp,lastUpdateTime,readOnly,dirty,durable,sessionID,userID"
         class="org.eclipse.emf.internal.cdo.view.ViewProperties$Tester"/>
   </extension>

</plugin>
