<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="com.b2international.snowowl.rpc.RpcProtocol$ClientFactory"
            productGroup="org.eclipse.net4j.clientProtocols"
            type="RpcProtocol"/>
      <factory
            class="com.b2international.snowowl.rpc.RpcProtocol$ServerFactory"
            productGroup="org.eclipse.net4j.serverProtocols"
            type="RpcProtocol"/>
      <factory
            class="com.b2international.snowowl.rpc.RpcSessionImpl$Factory"
            productGroup="com.b2international.snowowl.rpc"
            type="RpcSession"/>
   </extension>
   <extension
         point="org.eclipse.net4j.util.elementProcessors">
      <elementProcessor
            class="com.b2international.snowowl.rpc.RpcServerProtocolInjector"/>
   </extension>
</plugin>
