<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="terminology" name="terminology" schema="schema/terminology.exsd"/>
   <extension-point id="terminologyComponent" name="terminologyComponent" schema="schema/terminologyComponent.exsd"/>
   <extension-point id="representation" name="representation" schema="schema/representation.exsd"/>
   <extension-point id="lookupService" name="lookupService" schema="schema/lookupService.exsd"/>
   <extension-point id="bootstrapFragments" name="bootstrapFragments" schema="schema/bootstrapFragments.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="com.b2international.snowowl.core.propertytester.DevelopmentVersionPropertyTester"
             id="com.b2international.snowowl.core.devVersionPropertyTester"
             namespace="com.b2international.snowowl.core.test"
             properties="devVersion"
             type="java.lang.Object">
       </propertyTester>
   </extension>
   <extension
         point="com.b2international.snowowl.core.bootstrapFragments">
      <bootstrapFragment
            class="com.b2international.snowowl.core.internal.SnowOwlApplicationBootstrap">
      </bootstrapFragment>
   </extension>
</plugin>
