<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.b2international.com/snowowl/SCG" 
       class = "com.b2international.snowowl.dsl.scg.ScgPackage"
       genModel = "com/b2international/snowowl/dsl/SCG.genmodel" /> 
	
  </extension>
  <extension
        point="com.b2international.snowowl.core.representation">
     <representation
           class="com.b2international.snowowl.dsl.scg.Concept"
           terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
     </representation>
     <representation
           class="com.b2international.snowowl.dsl.scg.impl.ConceptImpl"
           terminologyComponentId="com.b2international.snowowl.terminology.snomed.concept">
     </representation>
  </extension>





</plugin>
