<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
     <serviceConfigJob
           class="com.b2international.snowowl.datastore.server.snomed.jobs.SnomedRefSetDerivationServiceConfigJob"
           id="com.b2international.snowowl.datastore.server.snomed.jobs.SnomedRefSetDerivationServiceConfigJob"
           terminologyId="com.b2international.snowowl.terminology.snomed">
     </serviceConfigJob>
     <serviceConfigJob
            class="com.b2international.snowowl.snomed.core.mrcm.io.MrcmImporterConfigJob"
            id="com.b2international.snowowl.snomed.core.mrcm.io.MrcmImporterConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.core.mrcm.io.MrcmExporterConfigJob"
            id="com.b2international.snowowl.snomed.core.mrcm.io.MrcmExporterConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.server.conflictProcessor">
      <processor
            class="com.b2international.snowowl.datastore.server.snomed.SnomedCDOConflictProcessor">
      </processor>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.server.repositoryInitializer">
      <initializer
            class="com.b2international.snowowl.datastore.server.snomed.SnomedRepositoryInitializer"
            repositoryUuid="snomedStore">
      </initializer>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.versioningManager">
      <manager
            class="com.b2international.snowowl.datastore.server.snomed.version.SnomedVersioningManager"
            interface="com.b2international.snowowl.datastore.server.snomed.ISnomedVersioningManager"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </manager>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.server.historyInfo">
      <detailsBuilder
            builderClass="com.b2international.snowowl.datastore.server.snomed.history.SnomedConceptHistoryInfoDetailsBuilder">
      </detailsBuilder>
      <executor
            executorClass="com.b2international.snowowl.datastore.server.snomed.history.SnomedConceptHistoryInfoQueryExecutor">
      </executor>
      <detailsBuilder
            builderClass="com.b2international.snowowl.datastore.server.snomed.history.SnomedRefSetHistoryInfoDetailsBuilder">
      </detailsBuilder>
      <executor
            executorClass="com.b2international.snowowl.datastore.server.snomed.history.SnomedRefSetHistoryInfoQueryExecutor">
      </executor>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.server.classLoaderProvider">
      <classLoaderProvider
            class="com.b2international.snowowl.datastore.server.snomed.SnomedClassLoaderProvider">
      </classLoaderProvider>
   </extension>
   <extension
         point="com.b2international.snowowl.snomed.datastore.snomedImportPostProcessor">
      <postProcessor
            class="com.b2international.snowowl.datastore.server.snomed.SnomedConcreteDomainImportPostProcessor">
      </postProcessor>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.server.mergeConflictRuleProvider">
      <ruleprovider
            class="com.b2international.snowowl.datastore.server.snomed.merge.SnomedMergeConflictRuleProvider">
      </ruleprovider>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.server.protocolFactory">
      <protocolFactory
            class="com.b2international.snowowl.snomed.datastore.server.export.SnomedServerProtocol$Factory"
            id="com.b2international.snowowl.snomed.datastore.server.export.SnomedServerProtocol$Factory">
      </protocolFactory>
   </extension>
</plugin>
