<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="serviceConfigJob" name="serviceConfigJob" schema="schema/serviceConfigJob.exsd"/>
   <extension-point id="protocolFactory" name="Net4j Client Protocol Factory" schema="schema/protocolFactory.exsd"/>
   <extension-point id="repository" name="Repository" schema="schema/repository.exsd"/>
   <extension-point id="versioningManager" name="versioningManager" schema="schema/versioningManager.exsd"/>
   <extension-point id="contentAvailabilityInfoProvider" name="Content Availability Info Provider" schema="schema/contentAvailabilityInfoProvider.exsd"/>
   <extension-point id="validationIssueDetailExtension" name="validationIssueDetailExtension" schema="schema/validationDetailExtension.exsd"/>
   <extension-point id="classLoaderProvider" name="classLoaderProvider" schema="schema/classLoaderProvider.exsd"/>
   <extension-point id="repositoryInitializer" name="Repository Initializer" schema="schema/repositoryInitializer.exsd"/>
   <extension-point id="serverProtocolFactory" name="Net4j Protocol Factory" schema="schema/serverProtocolFactory.exsd"/>
   <extension-point id="conflictProcessor" name="conflictProcessor" schema="schema/conflictProcessor.exsd"/>
   <extension-point id="mergeConflictRuleProvider" name="mergeConflictRuleProvider" schema="schema/mergeConflictRuleProvider.exsd"/>
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.oplock.impl.DatastoreLockManagerClientConfigJob"
            id="com.b2international.snowowl.datastore.oplock.impl.DatastoreLockManagerClientConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.oplock.impl.DatastoreOperationLockManagerConfigJob"
            id="com.b2international.snowowl.datastore.oplock.impl.DatastoreOperationLockManagerConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.internal.file.FileRegistryServerServiceConfigJob"
            id="com.b2international.snowowl.datastore.file.FileRegistryServerServiceConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.internal.file.FileRegistryClientServiceConfigJob"
            id="com.b2international.snowowl.datastore.file.FileRegistryClientServiceConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b2international.snowowl.datastore.propertytester.OsPropertyTester"
            id="com.b2international.snowowl.datastore.propertytester.OsPopertyTester"
            namespace="com.b2international.snowowl.datastore.propertytester.os"
            properties="mac,windows"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
