<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="changeProcessorFactory" name="changeProcessorFactory" schema="schema/changeProcessorFactory.exsd"/>
   <extension-point id="serviceConfigJob" name="serviceConfigJob" schema="schema/serviceConfigJob.exsd"/>
   <extension-point id="connectionFactory" name="connectionFactory" schema="schema/connectionFactory.exsd"/>
   <extension-point id="protocolFactory" name="Net4j Client Protocol Factory" schema="schema/protocolFactory.exsd"/>
   <extension-point id="repository" name="Repository" schema="schema/repository.exsd"/>
   <extension-point id="taskContext" name="Task Context" schema="schema/taskContext.exsd"/>
   <extension-point id="versioningManager" name="versioningManager" schema="schema/versioningManager.exsd"/>
   <extension-point id="nodeTransformer" name="nodeTransformer" schema="schema/nodeTransformer.exsd"/>
   <extension-point id="contentAvailabilityInfoProvider" name="Content Availability Info Provider" schema="schema/contentAvailabilityInfoProvider.exsd"/>
   <extension-point id="cdoRootResourceNameProvider" name="CDO root resource" schema="schema/cdoRootResourceNameProvider.exsd"/>
   <extension-point id="mappingProvider" name="mappingProvider" schema="schema/mappingProvider.exsd"/>
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.CDOBranchManagerConfigJob"
            id="com.b2international.snowowl.datastore.CDOBranchManagerConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.version.TagServiceClientConfigJob"
            id="com.b2international.snowowl.datastore.version.TagServiceClientConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.oplock.impl.DatastoreLockManagerClientConfigJob"
            id="com.b2international.snowowl.datastore.oplock.impl.DatastoreLockManagerClientConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.version.VersionCompareServiceClientConfigJob"
            id="com.b2international.snowowl.datastore.version.VersionCompareServiceClientConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.version.NodeTransformerServiceClientConfigJob"
            id="com.b2international.snowowl.datastore.version.NodeTransformerServiceClientConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.serviceconfig.CodeSystemServiceClientConfigJob"
            id="com.b2international.snowowl.datastore.serviceconfig.CodeSystemServiceClientConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.version.VersionCompareExporterServiceClientConfigJob"
            id="com.b2international.snowowl.datastore.version.VersionCompareExporterServiceClientConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.serviceconfig.HistoryServiceClientConfigJob"
            id="com.b2international.snowowl.datastore.serviceconfig.HistoryServiceClientConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.file.FileRegistryServerServiceConfigJob"
            id="com.b2international.snowowl.datastore.file.FileRegistryServerServiceConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.file.FileRegistryClientServiceConfigJob"
            id="com.b2international.snowowl.datastore.file.FileRegistryClientServiceConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.connectionFactory">
      <connectionFactory
            class="com.b2international.snowowl.datastore.cdo.CDOConnectionFactory"
            id="com.b2international.snowowl.datastore.cdo.CDOConnectionFactory">
      </connectionFactory>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.protocolFactory">
      <protocolFactory
            class="com.b2international.snowowl.datastore.net4j.push.PushClientProtocol$Factory"
            id="com.b2international.snowowl.datastore.net4j.push.PushClientProtocol$Factory">
      </protocolFactory>
   </extension>
      <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b2international.snowowl.datastore.propertytester.OsPropertyTester"
            id="com.b2international.snowowl.datastore.propertytester.OsPopertyTester"
            namespace="com.b2international.snowowl.datastore.propertytester.os"
            properties="mac,windows"
            type="java.lang.Object">
      </propertyTester>
   </extension>
      <extension
            point="com.b2international.snowowl.core.bootstrapFragments">
         <bootstrapFragment
               class="com.b2international.snowowl.datastore.setup.RepositoryBootstrap">
         </bootstrapFragment>
         <bootstrapFragment
               class="com.b2international.snowowl.datastore.connection.RepositoryConnectionBootstrap">
         </bootstrapFragment>
      </extension>

	<extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:com:b2international:snowowl:terminologymetadata:model"
            class="com.b2international.snowowl.terminologymetadata.TerminologymetadataPackage"
            genModel="model/terminologymetadata.genmodel"/>
	</extension>
</plugin>
