<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="scripts" name="Snow Owl Scripts" schema="schema/scripts.exsd"/>
   <extension-point id="scriptBinding" name="Script binding" schema="schema/scriptBinding.exsd"/>
   <extension
         point="org.eclipse.jdt.launching.vmInstallTypes">
      <vmInstallType
            class="org.eclipse.jdt.internal.launching.macosx.MacOSXVMInstallType"
            id="org.eclipse.jdt.internal.launching.macosx.MacOSXType">
      </vmInstallType>
   </extension>
   <extension
         point="com.b2international.snowowl.scripting.core.scriptBinding">
      <binding
            class="com.b2international.snowowl.scripting.core.bindings.SnomedHierarhicalServiceBinding">
      </binding>
   </extension>

</plugin>
