<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2004 - 2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension-point id="factories" name="%extension-point.name" schema="schema/factories.exsd"/>
   <extension-point id="elementProcessors" name="%extension-point.name.0" schema="schema/elementProcessors.exsd"/>
   
   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.net4j.util.concurrent.TimerLifecycle$DaemonFactory"
            productGroup="org.eclipse.net4j.util.timers"
            type="daemon"/>
      <factory
            class="org.eclipse.net4j.util.concurrent.ExecutorServiceFactory"
            productGroup="org.eclipse.net4j.executorServices"
            type="default"/>
      <factory
            productGroup="org.eclipse.net4j.randomizers"
            type="default"
            class="org.eclipse.net4j.util.security.RandomizerFactory"/>
      <factory
            productGroup="org.eclipse.net4j.userManagers"
            type="file"
            class="org.eclipse.net4j.util.security.FileUserManagerFactory"/>
   </extension>

</plugin>
