<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- Imported from Protege -->
    <extension-point id="inference_reasonerfactory"
                 name="Reasoner Factory"
                 schema="schema/ReasonerFactory.exsd"/>

    <extension id="NoOpReasoner"
               point="org.protege.editor.owl.inference_reasonerfactory">
        <name value="None"/>
        <class value="org.protege.editor.owl.model.inference.NoOpReasonerInfo"/>
        <defaultReasoner value="true"/>
    </extension>

</plugin>
