<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Snow Owl Target Platform Definition" sequenceNumber="32">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/justj/jres/17/updates/release/17.0.2"/>
		<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="17.0.2.v20220201-1208"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.300.v20200828-1034"/>
		<unit id="org.eclipse.pde.feature.group" version="3.14.500.v20200902-1800"/>
		<unit id="org.eclipse.platform.feature.group" version="4.17.0.v20200902-1800"/>
		<repository location="https://download.eclipse.org/eclipse/updates/4.17/R-4.17-202009021800/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.net4j.feature.group" version="4.9.0.v20200311-1912"/>
		<unit id="org.eclipse.net4j.util.feature.group" version="4.9.0.v20200311-1912"/>
		<repository location="https://download.eclipse.org/modeling/emf/cdo/drops/R20200311-1513/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="javax.el" version="2.2.0.v201303151357"/>
		<unit id="javax.el.source" version="2.2.0.v201303151357"/>
		<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
		<unit id="org.antlr.runtime.source" version="3.2.0.v201101311130"/>
		<unit id="org.apache.commons.codec" version="1.13.0.v20200108-0001"/>
		<unit id="org.junit" version="4.13.0.v20200204-1500"/>
		<unit id="org.junit.source" version="4.13.0.v20200204-1500"/>
		<unit id="org.ccil.cowan.tagsoup" version="1.2.0.v201202211000"/>
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200224183213/repository"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.xtext.redist.feature.group" version="2.23.0.v20200831-0926"/>
		<unit id="org.eclipse.xtext.runtime.feature.group" version="2.23.0.v20200831-0926"/>
		<unit id="org.eclipse.xtext.xbase.feature.group" version="2.23.0.v20200831-0926"/>
		<unit id="org.eclipse.xtext.xbase.lib.feature.group" version="2.23.0.v20200831-0726"/>
		<unit id="org.eclipse.xtext.testing" version="2.23.0.v20200831-0730"/>
		<unit id="org.objectweb.asm" version="8.0.1.v20200420-1007"/>
		<unit id="org.objectweb.asm.tree" version="8.0.1.v20200420-1007"/>
		<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.23.0/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.emf.base.feature.group" version="2.23.0.v20200822-0801"/>
		<unit id="org.eclipse.emf.ecore.feature.group" version="2.23.0.v20200630-0516"/>
		<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.23"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.xpand.feature.group" version="2.2.0.v201605260315"/>
		<unit id="org.eclipse.xtend.feature.group" version="2.2.0.v201605260315"/>
		<repository location="https://download.eclipse.org/modeling/m2t/xpand/updates/releases/R201605260315"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.5.3.v20200520-0756"/>
		<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.11.3.v20200520-0756"/>
		<repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.11.3/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="mvn:com.b2international:com.b2international.snomed.ecl.update:2.0.2:zip"/>
		<unit id="com.b2international.snomed.ecl.feature.feature.group" version="2.0.2"/>
		<unit id="com.b2international.snomed.ecl.ui.feature.feature.group" version="2.0.2"/>
	</location>
	<location includeSource="true" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>ch.qos.logback</groupId>
				<artifactId>logback-classic</artifactId>
				<version>1.2.10</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>ch.qos.logback</groupId>
				<artifactId>logback-core</artifactId>
				<version>1.2.10</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.diffplug.osgi</groupId>
				<artifactId>com.diffplug.osgi.extension.sun.misc</artifactId>
				<version>0.0.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.diffplug.osgi</groupId>
				<artifactId>com.diffplug.osgi.extension.sun.reflect</artifactId>
				<version>0.0.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.core</groupId>
				<artifactId>jackson-annotations</artifactId>
				<version>2.10.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.core</groupId>
				<artifactId>jackson-core</artifactId>
				<version>2.10.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.core</groupId>
				<artifactId>jackson-databind</artifactId>
				<version>2.10.5.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.dataformat</groupId>
				<artifactId>jackson-dataformat-cbor</artifactId>
				<version>2.10.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.dataformat</groupId>
				<artifactId>jackson-dataformat-csv</artifactId>
				<version>2.10.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.dataformat</groupId>
				<artifactId>jackson-dataformat-smile</artifactId>
				<version>2.10.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.dataformat</groupId>
				<artifactId>jackson-dataformat-xml</artifactId>
				<version>2.10.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.dataformat</groupId>
				<artifactId>jackson-dataformat-yaml</artifactId>
				<version>2.10.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.datatype</groupId>
				<artifactId>jackson-datatype-jsr310</artifactId>
				<version>2.10.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.module</groupId>
				<artifactId>jackson-module-afterburner</artifactId>
				<version>2.10.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.module</groupId>
				<artifactId>jackson-module-jaxb-annotations</artifactId>
				<version>2.10.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.woodstox</groupId>
				<artifactId>woodstox-core</artifactId>
				<version>5.3.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml</groupId>
				<artifactId>classmate</artifactId>
				<version>1.3.4</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.googlecode.mdock</groupId>
				<artifactId>mdock</artifactId>
				<version>2.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.sun.activation</groupId>
				<artifactId>javax.activation</artifactId>
				<version>1.2.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.sun.xml.bind</groupId>
				<artifactId>jaxb-core</artifactId>
				<version>2.3.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.sun.xml.bind</groupId>
				<artifactId>jaxb-impl</artifactId>
				<version>2.3.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>de.svenkubiak</groupId>
				<artifactId>jBCrypt</artifactId>
				<version>0.4.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.github.classgraph</groupId>
				<artifactId>classgraph</artifactId>
				<version>4.8.90</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-buffer</artifactId>
				<version>4.1.68.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-codec-http</artifactId>
				<version>4.1.68.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-codec</artifactId>
				<version>4.1.68.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-common</artifactId>
				<version>4.1.68.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-handler</artifactId>
				<version>4.1.68.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-resolver</artifactId>
				<version>4.1.68.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-transport</artifactId>
				<version>4.1.68.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.reactivex.rxjava2</groupId>
				<artifactId>rxjava</artifactId>
				<version>2.0.7</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.rest-assured</groupId>
				<artifactId>json-path</artifactId>
				<version>4.3.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.rest-assured</groupId>
				<artifactId>rest-assured-common</artifactId>
				<version>4.3.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.rest-assured</groupId>
				<artifactId>rest-assured</artifactId>
				<version>4.3.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.rest-assured</groupId>
				<artifactId>xml-path</artifactId>
				<version>4.3.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.swagger.core.v3</groupId>
				<artifactId>swagger-annotations</artifactId>
				<version>2.1.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.swagger.core.v3</groupId>
				<artifactId>swagger-models</artifactId>
				<version>2.1.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>it.unimi.dsi</groupId>
				<artifactId>fastutil</artifactId>
				<version>8.3.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>javax.activation</groupId>
				<artifactId>javax.activation-api</artifactId>
				<version>1.2.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>javax.servlet</groupId>
				<artifactId>javax.servlet-api</artifactId>
				<version>3.1.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>javax.xml.bind</groupId>
				<artifactId>jaxb-api</artifactId>
				<version>2.3.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>net.bytebuddy</groupId>
				<artifactId>byte-buddy-agent</artifactId>
				<version>1.11.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>net.bytebuddy</groupId>
				<artifactId>byte-buddy</artifactId>
				<version>1.11.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>net.jodah</groupId>
				<artifactId>failsafe</artifactId>
				<version>2.3.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>net.jodah</groupId>
				<artifactId>typetools</artifactId>
				<version>0.6.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.aries.spifly</groupId>
				<artifactId>org.apache.aries.spifly.dynamic.bundle</artifactId>
				<version>1.3.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-lang3</artifactId>
				<version>3.12.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.httpcomponents</groupId>
				<artifactId>httpasyncclient-osgi</artifactId>
				<version>4.1.4</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.httpcomponents</groupId>
				<artifactId>httpclient-osgi</artifactId>
				<version>4.5.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.httpcomponents</groupId>
				<artifactId>httpcore-osgi</artifactId>
				<version>4.4.10</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.assertj</groupId>
				<artifactId>assertj-core</artifactId>
				<version>3.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.codehaus.groovy</groupId>
				<artifactId>groovy-json</artifactId>
				<version>3.0.9</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.codehaus.groovy</groupId>
				<artifactId>groovy-xml</artifactId>
				<version>3.0.9</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.codehaus.groovy</groupId>
				<artifactId>groovy</artifactId>
				<version>3.0.9</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.codehaus.woodstox</groupId>
				<artifactId>stax2-api</artifactId>
				<version>4.2.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.osgi</groupId>
				<artifactId>jetty-osgi-boot</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-continuation</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-deploy</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-http</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-io</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-jmx</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-security</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-server</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-servlet</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-util</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-webapp</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-xml</artifactId>
				<version>9.4.31.v20200723</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.hdrhistogram</groupId>
				<artifactId>HdrHistogram</artifactId>
				<version>2.1.10</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.jetbrains.kotlin</groupId>
				<artifactId>kotlin-osgi-bundle</artifactId>
				<version>1.2.71</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.mapstruct</groupId>
				<artifactId>mapstruct</artifactId>
				<version>1.2.0.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.mockito</groupId>
				<artifactId>mockito-core</artifactId>
				<version>3.11.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.objenesis</groupId>
				<artifactId>objenesis</artifactId>
				<version>3.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.ow2.asm</groupId>
				<artifactId>asm-analysis</artifactId>
				<version>8.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.ow2.asm</groupId>
				<artifactId>asm-commons</artifactId>
				<version>8.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.ow2.asm</groupId>
				<artifactId>asm-util</artifactId>
				<version>8.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.reactivestreams</groupId>
				<artifactId>reactive-streams</artifactId>
				<version>1.0.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.semanticweb.elk</groupId>
				<artifactId>elk-protege</artifactId>
				<version>0.4.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.slf4j</groupId>
				<artifactId>jcl-over-slf4j</artifactId>
				<version>1.7.32</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.slf4j</groupId>
				<artifactId>jul-to-slf4j</artifactId>
				<version>1.7.32</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.slf4j</groupId>
				<artifactId>log4j-over-slf4j</artifactId>
				<version>1.7.32</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.slf4j</groupId>
				<artifactId>slf4j-api</artifactId>
				<version>1.7.32</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.yaml</groupId>
				<artifactId>snakeyaml</artifactId>
				<version>1.26</version>
				<type>jar</type>
			</dependency>
			<dependency>
  				<groupId>com.github.f4b6a3</groupId>
  				<artifactId>uuid-creator</artifactId>
  				<version>4.6.1</version>
  				<type>jar</type>
			</dependency>
		</dependencies>
		<repositories>
			<repository>
				<id>b2i-releases</id>
				<url>https://nexus.b2i.sg/repository/maven-releases</url>
			</repository>
			<repository>
				<id>b2i-snapshots</id>
				<url>https://nexus.b2i.sg/repository/maven-snapshots</url>
			</repository>
		</repositories>
	</location>
	<location includeSource="true" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.b2international.snowowl</groupId>
				<artifactId>protege-common</artifactId>
				<version>5.0.5-b2i</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.b2international.snowowl</groupId>
				<artifactId>protege-editor-core</artifactId>
				<version>5.0.5-b2i</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.b2international.snowowl</groupId>
				<artifactId>protege-editor-owl</artifactId>
				<version>5.0.5-b2i</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.b2international</groupId>
				<artifactId>owlapi-osgidistribution</artifactId>
				<version>4.5.24</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>edu.stanford.protege</groupId>
				<artifactId>org.protege.xmlcatalog</artifactId>
				<version>1.0.5</version>
				<type>jar</type>
			</dependency>
		</dependencies>
		<repositories>
			<repository>
				<id>owlapi-mvn-repo</id>
				<url>https://b2ihealthcare.github.io/owlapi/</url>
			</repository>
			<repository>
				<id>protege-mvn-repo</id>
				<url>https://b2ihealthcare.github.io/protege/</url>
			</repository>
		</repositories>
	</location>
	<location includeSource="true" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.snomed.otf</groupId>
				<artifactId>snomed-owl-toolkit</artifactId>
				<version>3.0.6</version>
				<type>jar</type>
				<classifier>bundle</classifier>
			</dependency>
		</dependencies>
		<repositories>
			<repository>
				<id>snomed-international-releases</id>
				<url>https://nexus3.ihtsdotools.org/repository/maven-releases/</url>
			</repository>
		</repositories>
	</location>
</locations>
</target>