<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Snow Owl Target Platform Definition" sequenceNumber="32">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/justj/jres/17/updates/release/latest"/>
		<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="0.0.0"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.1000.v20231114-0937"/>
		<unit id="org.eclipse.pde.feature.group" version="3.15.200.v20231201-0110"/>
		<unit id="org.eclipse.platform.feature.group" version="4.30.0.v20231201-0512"/>
		<repository location="https://download.eclipse.org/eclipse/updates/4.30/R-4.30-202312010110/"/>
	</location>
	<!-- NOTE: Orbit repository is required to fetch an OSGi version of tagsoup required by rest-assured library -->
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.ccil.cowan.tagsoup" version="1.2.0.v201202211000"/>
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.emf.base.feature.group" version="2.35.0.v20230829-0934"/>
		<unit id="org.eclipse.emf.ecore.feature.group" version="2.35.0.v20230829-0934"/>
		<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.35.0/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.xtext.redist.feature.group" version="2.33.0.v20231121-0955"/>
		<unit id="org.eclipse.xtext.runtime.feature.group" version="2.33.0.v20231121-0955"/>
		<unit id="org.eclipse.xtext.sdk.feature.group" version="2.33.0.v20231121-0955"/>
		<unit id="org.eclipse.xtext.xbase.feature.group" version="2.33.0.v20231121-0955"/>
		<unit id="org.eclipse.xtext.xbase.lib.feature.group" version="2.33.0.v20231121-0955"/>
		<unit id="org.eclipse.xtext.testing" version="2.33.0.v20231121-0955"/>
		<unit id="org.antlr.runtime" version="3.2.0.v20230929-1400"/>
		<unit id="org.objectweb.asm" version="9.6.0"/>
		<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.33.0/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.10.0.v20231117-0522"/>
		<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.16.0.v20231117-0522"/>
		<repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.16.0/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="mvn:com.b2international:com.b2international.snomed.ecl.update:2.1.5:zip"/>
		<unit id="com.b2international.snomed.ecl.feature.feature.group" version="0.0.0"/>
		<unit id="com.b2international.snomed.ecl.ui.feature.feature.group" version="0.0.0"/>
	</location>
	<location includeSource="true" missingManifest="error" type="Maven">
		<dependencies>
			<!-- SLF4J Logging and Logback -->
			<dependency>
				<groupId>org.slf4j</groupId>
				<artifactId>slf4j-api</artifactId>
				<version>2.0.11</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.slf4j</groupId>
				<artifactId>jcl-over-slf4j</artifactId>
				<version>2.0.11</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.slf4j</groupId>
				<artifactId>jul-to-slf4j</artifactId>
				<version>2.0.11</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.slf4j</groupId>
				<artifactId>log4j-over-slf4j</artifactId>
				<version>2.0.11</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>ch.qos.logback</groupId>
				<artifactId>logback-classic</artifactId>
				<version>1.4.14</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>ch.qos.logback</groupId>
				<artifactId>logback-core</artifactId>
				<version>1.4.14</version>
				<type>jar</type>
			</dependency>
			<!-- Jackson CSV/JSON/YAML/XML parsing libraries -->
			<dependency>
				<groupId>com.fasterxml.jackson.core</groupId>
				<artifactId>jackson-annotations</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.core</groupId>
				<artifactId>jackson-core</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.core</groupId>
				<artifactId>jackson-databind</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.dataformat</groupId>
				<artifactId>jackson-dataformat-cbor</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.dataformat</groupId>
				<artifactId>jackson-dataformat-csv</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.dataformat</groupId>
				<artifactId>jackson-dataformat-smile</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.dataformat</groupId>
				<artifactId>jackson-dataformat-xml</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.dataformat</groupId>
				<artifactId>jackson-dataformat-yaml</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.yaml</groupId>
				<artifactId>snakeyaml</artifactId>
				<version>2.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.datatype</groupId>
				<artifactId>jackson-datatype-guava</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.datatype</groupId>
				<artifactId>jackson-datatype-jsr310</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.module</groupId>
				<artifactId>jackson-module-afterburner</artifactId>
				<version>2.16.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
		      	<groupId>org.codehaus.woodstox</groupId>
			    <artifactId>stax2-api</artifactId>
				<version>4.2.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.woodstox</groupId>
				<artifactId>woodstox-core</artifactId>
				<version>6.5.1</version>
				<type>jar</type>
			</dependency>
			<!-- Netty Network Application Framework (used by Elasticsearch and our EventBus implementation) -->
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-buffer</artifactId>
				<version>4.1.106.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-codec-http</artifactId>
				<version>4.1.106.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-codec</artifactId>
				<version>4.1.106.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-common</artifactId>
				<version>4.1.106.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-handler</artifactId>
				<version>4.1.106.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-resolver</artifactId>
				<version>4.1.106.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-transport</artifactId>
				<version>4.1.106.Final</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.netty</groupId>
				<artifactId>netty-transport-native-unix-common</artifactId>
				<version>4.1.106.Final</version>
				<type>jar</type>
			</dependency>
			<!-- Swagger OpenAPI Spec -->
			<dependency>
				<groupId>io.swagger.core.v3</groupId>
				<artifactId>swagger-annotations-jakarta</artifactId>
				<version>2.2.20</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.swagger.core.v3</groupId>
				<artifactId>swagger-models-jakarta</artifactId>
				<version>2.2.20</version>
				<type>jar</type>
			</dependency>
			<!-- Embedded into the web application module so that Spring can detect and deploy the necessary resources, see c.b.snowowl.core.rest, added here only to prevent adding it to tp accidentally
			<dependency>
				<groupId>io.swagger.core.v3</groupId>
				<artifactId>swagger-core-jakarta</artifactId>
				<version>2.2.20</version>
				<type>jar</type>
			</dependency>
			-->
			<!-- Jakarta Spec API and Implementation Modules (must work with the embedded Jetty 12 EE10 version) -->
			<dependency>
			    <groupId>jakarta.servlet</groupId>
			    <artifactId>jakarta.servlet-api</artifactId>
			    <version>6.0.0</version>
			    <type>jar</type>
			</dependency>
			<dependency>
-				<groupId>jakarta.enterprise</groupId>
-				<artifactId>jakarta.enterprise.cdi-api</artifactId>
-				<version>3.0.1</version>
-				<type>jar</type>
-			</dependency>
-			<dependency>
-				<groupId>jakarta.interceptor</groupId>
-				<artifactId>jakarta.interceptor-api</artifactId>
-				<version>2.1.0</version>
-				<type>jar</type>
-			</dependency>
			<dependency>
				<groupId>jakarta.websocket</groupId>
				<artifactId>jakarta.websocket-api</artifactId>
				<version>2.1.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
      			<groupId>jakarta.websocket</groupId>
			    <artifactId>jakarta.websocket-client-api</artifactId>
			    <version>2.1.1</version>
			    <type>jar</type>
		    </dependency>
		    <dependency>
		        <groupId>jakarta.transaction</groupId>
    			<artifactId>jakarta.transaction-api</artifactId>
    			<version>2.0.1</version>
    			<type>jar</type>
    		</dependency>
    		<dependency>
				<groupId>jakarta.el</groupId>
				<artifactId>jakarta.el-api</artifactId>
				<version>5.0.1</version>
    			<type>jar</type>
			</dependency>
			<dependency>
			    <groupId>jakarta.xml.bind</groupId>
			    <artifactId>jakarta.xml.bind-api</artifactId>
			    <version>3.0.1</version>
			    <type>jar</type>
			</dependency>
			<dependency>
    			<groupId>jakarta.validation</groupId>
			    <artifactId>jakarta.validation-api</artifactId>
			    <version>3.0.2</version>
			    <type>jar</type>
			</dependency>
			<dependency>
			    <groupId>jakarta.activation</groupId>
			    <artifactId>jakarta.activation-api</artifactId>
			    <version>2.1.2</version>
   			    <type>jar</type>
			</dependency>
			<!-- Jetty 12 dependencies start here -->
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-osgi</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-deploy</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-http</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-io</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-jmx</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-jndi</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-security</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-server</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
			    <groupId>org.eclipse.jetty</groupId>
			    <artifactId>jetty-session</artifactId>
			    <version>12.0.3</version>
			    <type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-util</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-xml</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.websocket</groupId>
				<artifactId>jetty-websocket-core-server</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.websocket</groupId>
				<artifactId>jetty-websocket-jetty-server</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.websocket</groupId>
				<artifactId>jetty-websocket-jetty-api</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.websocket</groupId>
				<artifactId>jetty-websocket-core-common</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.websocket</groupId>
				<artifactId>jetty-websocket-jetty-common</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.websocket</groupId>
				<artifactId>jetty-websocket-core-client</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-client</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty</groupId>
				<artifactId>jetty-alpn-client</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.toolchain</groupId>
				<artifactId>jetty-javax-websocket-api</artifactId>
				<version>1.1.2</version>
				<type>jar</type>
			</dependency>
			<!-- Add Jetty EE10 (or bump to a more recent Jakarta EE version) packages here -->
			<dependency>
				<groupId>org.eclipse.jetty.ee10</groupId>
				<artifactId>jetty-ee10-servlet</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.ee10.osgi</groupId>
				<artifactId>jetty-ee10-osgi-boot</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.ee10</groupId>
				<artifactId>jetty-ee10-annotations</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.ee10</groupId>
				<artifactId>jetty-ee10-plus</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.ee10</groupId>
				<artifactId>jetty-ee10-webapp</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.ee10.websocket</groupId>
				<artifactId>jetty-ee10-websocket-jetty-server</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.ee10.websocket</groupId>
				<artifactId>jetty-ee10-websocket-jakarta-common</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.ee10.websocket</groupId>
				<artifactId>jetty-ee10-websocket-servlet</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.ee10.websocket</groupId>
				<artifactId>jetty-ee10-websocket-jakarta-server</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.jetty.ee10.websocket</groupId>
				<artifactId>jetty-ee10-websocket-jakarta-client</artifactId>
				<version>12.0.3</version>
				<type>jar</type>
			</dependency>
			<!-- OWL API and Protege dependencies for classification and reasoner support -->
			<dependency>
				<groupId>com.b2international.snowowl</groupId>
				<artifactId>owlapi-osgidistribution</artifactId>
				<version>4.5.26-SNAPSHOT</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.b2international.snowowl</groupId>
				<artifactId>protege-common</artifactId>
				<version>5.0.7-SNAPSHOT</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.b2international.snowowl</groupId>
				<artifactId>protege-editor-core</artifactId>
				<version>5.0.7-SNAPSHOT</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.b2international.snowowl</groupId>
				<artifactId>protege-editor-owl</artifactId>
				<version>5.0.7-SNAPSHOT</version>
				<type>jar</type>
			</dependency>
			<!-- Built-in reasoner, ELK based on the Protege bindings -->
			<dependency>
				<groupId>org.semanticweb.elk</groupId>
				<artifactId>elk-protege</artifactId>
				<version>0.4.3</version>
				<type>jar</type>
			</dependency>
			<!-- Apache HTTP Client library, required by a few dependencies (eg. Elasticsearch), ensure we use the same version for all them -->
			<dependency>
				<groupId>org.apache.httpcomponents</groupId>
				<artifactId>httpasyncclient-osgi</artifactId>
				<version>4.1.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.httpcomponents</groupId>
				<artifactId>httpclient-osgi</artifactId>
				<version>4.5.14</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.httpcomponents</groupId>
				<artifactId>httpcore-osgi</artifactId>
				<version>4.4.16</version>
				<type>jar</type>
			</dependency>
			<!-- Apache Commons Codec, required by Elasticsearch index and index.es8 bundles -->
			<dependency>
    			<groupId>commons-codec</groupId>
    			<artifactId>commons-codec</artifactId>
    			<version>1.16.0</version>
    			<type>jar</type>
			</dependency>
			<!-- Primitive Collections Library -->
			<dependency>
				<groupId>it.unimi.dsi</groupId>
				<artifactId>fastutil</artifactId>
				<version>8.5.12</version>
				<type>jar</type>
			</dependency>
			<!-- Testing libraries (REST API, Assertions and Mocking) -->
			<dependency>
				<groupId>io.rest-assured</groupId>
				<artifactId>json-path</artifactId>
				<version>4.5.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.rest-assured</groupId>
				<artifactId>rest-assured-common</artifactId>
				<version>4.5.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.rest-assured</groupId>
				<artifactId>rest-assured</artifactId>
				<version>4.5.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>io.rest-assured</groupId>
				<artifactId>xml-path</artifactId>
				<version>4.5.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.assertj</groupId>
				<artifactId>assertj-core</artifactId>
				<version>3.25.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.mockito</groupId>
				<artifactId>mockito-core</artifactId>
				<version>5.9.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-lang3</artifactId>
				<version>3.14.0</version>
				<type>jar</type>
			</dependency>
			<!-- ByteBuddy and Objenesis required by mockito-core (see pom.xml for exact versions) -->
			<dependency>
				<groupId>net.bytebuddy</groupId>
				<artifactId>byte-buddy-agent</artifactId>
				<version>1.14.11</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>net.bytebuddy</groupId>
				<artifactId>byte-buddy</artifactId>
				<version>1.14.11</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.objenesis</groupId>
				<artifactId>objenesis</artifactId>
				<version>3.3</version>
				<type>jar</type>
			</dependency>
			<!-- Required for Hibernate Bean Validation -->
			<dependency>
				<groupId>com.fasterxml</groupId>
				<artifactId>classmate</artifactId>
				<version>1.5.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
			    <groupId>org.glassfish.expressly</groupId>
			    <artifactId>expressly</artifactId>
			    <version>5.0.0</version>
   				<type>jar</type>
			</dependency>
			<!-- Required for Elasticsearch and micrometer -->
			<dependency>
				<groupId>org.hdrhistogram</groupId>
				<artifactId>HdrHistogram</artifactId>
				<version>2.1.12</version>
				<type>jar</type>
			</dependency>
			<!-- Fast, good UUID generator library -->
			<dependency>
				<groupId>com.github.f4b6a3</groupId>
				<artifactId>uuid-creator</artifactId>
				<version>5.3.7</version>
				<type>jar</type>
			</dependency>
			<!-- Required by JSON Patch implementation (zjsonpatch) -->
			<dependency>
            	<groupId>org.apache.commons</groupId>
	            <artifactId>commons-collections4</artifactId>
	            <version>4.4</version>
   				<type>jar</type>
	        </dependency>
			<!-- Secure password hashing algorithm (TODO investigate possible replacement with scrypt from bc-java) -->
			<dependency>
				<groupId>de.svenkubiak</groupId>
				<artifactId>jBCrypt</artifactId>
				<version>0.4.3</version>
				<type>jar</type>
			</dependency>
			<!-- Fault tolerance and resilience library -->
			<dependency>
			    <groupId>dev.failsafe</groupId>
			    <artifactId>failsafe</artifactId>
			    <version>3.3.2</version>
				<type>jar</type>
			</dependency>
			<!-- Type tools, mostly for type argument resolution -->
			<dependency>
				<groupId>net.jodah</groupId>
				<artifactId>typetools</artifactId>
				<version>0.6.3</version>
				<type>jar</type>
			</dependency>
			<!-- Reactive extensions -->
			<dependency>
				<groupId>io.reactivex.rxjava2</groupId>
				<artifactId>rxjava</artifactId>
				<version>2.2.21</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.reactivestreams</groupId>
				<artifactId>reactive-streams</artifactId>
				<version>1.0.0</version>
				<type>jar</type>
			</dependency>
			<!-- Kotlin OSGi bundle required by mapdb wrapper -->
			<dependency>
				<groupId>org.jetbrains.kotlin</groupId>
				<artifactId>kotlin-osgi-bundle</artifactId>
				<version>1.9.22</version>
				<type>jar</type>
			</dependency>
			<!-- Common StringUtils -->
			<dependency>
			    <groupId>org.apache.commons</groupId>
    			<artifactId>commons-text</artifactId>
    			<version>1.11.0</version>
			    <type>jar</type>
			</dependency>
		</dependencies>
		<repositories>
			<repository>
				<id>b2i-releases</id>
				<url>https://nexus.b2i.sg/repository/maven-releases</url>
			</repository>
			<repository>
				<id>b2i-snapshots</id>
				<url>https://nexus.b2i.sg/repository/maven-snapshots</url>
			</repository>
		</repositories>
	</location>
</locations>
</target>