<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2004 - 2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.emf.cdo.internal.net4j.protocol.CDOClientProtocolFactory"
            productGroup="org.eclipse.net4j.clientProtocols"
            type="cdo"/>
      <factory
            class="org.eclipse.emf.cdo.internal.net4j.Net4jSessionFactory"
            productGroup="org.eclipse.emf.cdo.sessions"
            type="cdo"/>
   </extension>

   <extension
         point="org.eclipse.net4j.util.elementProcessors">
      <elementProcessor
            class="org.eclipse.emf.cdo.internal.net4j.Net4jConnectorInjector"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.emf.cdo.eresource.impl.CDOResourceFactoryImpl"
            protocolName="cdo.net4j.tcp"/>
      <parser
            class="org.eclipse.emf.cdo.eresource.impl.CDOResourceFactoryImpl"
            protocolName="cdo.net4j.ssl"/>
      <parser
            class="org.eclipse.emf.cdo.eresource.impl.CDOResourceFactoryImpl"
            protocolName="cdo.net4j.jvm"/>
   </extension>

   <extension
         point="org.eclipse.emf.cdo.viewProviders">
      <viewProvider
            class="org.eclipse.emf.cdo.net4j.CDONet4jViewProvider$TCP"
            priority="500"
            regex="cdo\.net4j\.tcp://.*"/>
      <viewProvider
            class="org.eclipse.emf.cdo.net4j.CDONet4jViewProvider$SSL"
            priority="500"
            regex="cdo\.net4j\.ssl://.*"/>
      <viewProvider
            class="org.eclipse.emf.cdo.net4j.CDONet4jViewProvider$JVM"
            priority="500"
            regex="cdo\.net4j\.jvm://.*"/>
   </extension>

</plugin>
