<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application=""
            description="OSGi based Snow Owl server runtime"
            name="Snow Owl Server">
         <property
               name="appName"
               value="Snow Owl Server">
         </property>
         <property
               name="serverMode"
               value="true">
         </property>
      </product>
   </extension>
</plugin>
