<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.server.serviceconfig.DatastoreOperationLockManagerConfigJob"
            id="com.b2international.snowowl.datastore.server.serviceconfig.DatastoreOperationLockManagerConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
   </extension>
</plugin>
