<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="historyInfo" name="History Info" schema="schema/historyInfo.exsd"/>
   <extension-point id="protocolFactory" name="Net4j Protocol Factory" schema="schema/protocolFactory.exsd"/>
   <extension-point id="eclassProvider" name="eclassProvider" schema="schema/eclassProvider.exsd"/>
   <extension-point id="conflictProcessor" name="conflictProcessor" schema="schema/conflictProcessor.exsd"/>
   <extension-point id="repositoryInitializer" name="Repository Initializer" schema="schema/repositoryInitializer.exsd"/>
   <extension-point id="versionCompareHierarchyBuilder" name="Version Compare Hierarchy Builder" schema="schema/versionCompareHierarchyBuilder.exsd"/>
   <extension-point id="editingContextFactory" name="editingContextFactory" schema="schema/editingContextFactory.exsd"/>
   <extension-point id="classLoaderProvider" name="classLoaderProvider" schema="schema/classLoaderProvider.exsd"/>
   <extension-point id="mergeConflictRuleProvider" name="mergeConflictRuleProvider" schema="schema/mergeConflictRuleProvider.exsd"/>
   
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.server.CDOServerBranchManagerConfigJob"
            id="com.b2international.snowowl.datastore.server.CDOServerBranchManagerConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.server.serviceconfig.TagServiceConfigJob"
            id="com.b2international.snowowl.datastore.server.serviceconfig.TagServiceConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.server.serviceconfig.DatastoreOperationLockManagerConfigJob"
            id="com.b2international.snowowl.datastore.server.serviceconfig.DatastoreOperationLockManagerConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.server.serviceconfig.CodeSystemServiceServiceConfigJob"
            id="com.b2international.snowowl.datastore.server.serviceconfig.CodeSystemServiceServiceConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.datastore.server.serviceconfig.HistoryServiceConfigJob"
            id="com.b2international.snowowl.datastore.server.serviceconfig.HistoryServiceConfigJob"
            terminologyId="UNSPECIFIED">
      </serviceConfigJob>
   </extension>
   <extension
         point="com.b2international.snowowl.core.bootstrapFragments">
      <bootstrapFragment
            class="com.b2international.snowowl.datastore.server.DatastoreServerBootstrap">
      </bootstrapFragment>
   </extension>
</plugin>
