<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.b2international.snowowl.core.componentValidationConstraint">
      <constraint
            class="com.b2international.snowowl.snomed.validation.constraints.component.SnomedConceptFsnStatusConstraint"
            id="com.b2international.snowowl.snomed.validation.constraints.component.SnomedConceptFsnStatusConstraint"
            terminologyComponent="com.b2international.snowowl.terminology.snomed.concept">
      </constraint>
      <constraint
            class="com.b2international.snowowl.snomed.validation.constraints.component.SnomedConceptUngroupedRelationshipConstraint"
            id="com.b2international.snowowl.snomed.validation.constraints.component.SnomedConceptUngroupedRelationshipConstraint"
            terminologyComponent="com.b2international.snowowl.terminology.snomed.concept">
      </constraint>
      <constraint
            class="com.b2international.snowowl.snomed.validation.constraints.component.SnomedConceptUniqueGroupedRelationshipTypeConstraint"
            id="com.b2international.snowowl.snomed.validation.constraints.component.SnomedConceptUniqueGroupedRelationshipTypeConstraint"
            terminologyComponent="com.b2international.snowowl.terminology.snomed.concept">
      </constraint>
      <constraint
            class="com.b2international.snowowl.snomed.validation.constraints.component.SnomedConceptNotRelatedToItselfConstraint"
            id="com.b2international.snowowl.snomed.validation.constraints.component.SnomedConceptNotRelatedToItselfConstraint"
            terminologyComponent="com.b2international.snowowl.terminology.snomed.concept">
      </constraint>
      <constraint
            class="com.b2international.snowowl.snomed.validation.constraints.component.SnomedConceptOneActiveFsnPerLanguageConstraint"
            id="com.b2international.snowowl.snomed.validation.constraints.component.SnomedConceptOneActiveFsnPerLanguageConstraint"
            terminologyComponent="com.b2international.snowowl.terminology.snomed.concept">
      </constraint>
   </extension>
 <extension
       point="com.b2international.snowowl.core.globalValidationConstraints">
    <constraint
          constraintClass="com.b2international.snowowl.snomed.validation.constraints.global.UniqueFSNGlobalConstraint"
          description="Active concepts must not have the same active fully specified name as other active concepts."
          id="com.b2international.snowowl.snomed.validation.examples.uniqueFSNGlobalConstraint"
          message="Active concepts must not have the same active fully specified name as other active concepts."
          name="Unique Fully Specified Name"
          severity="ERROR">
    </constraint>
 </extension>
</plugin>
