<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.b2international.snowowl.datastore.server.protocolFactory">
      <protocolFactory
            class="com.b2international.snowowl.snomed.importer.rf2.net4j.SnomedImportServerProtocol$Factory"
            id="com.b2international.snowowl.snomed.importer.rf2.net4j.SnomedImportServerProtocol$Factory">
      </protocolFactory>
   </extension>
</plugin>
