<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.b2international.snowowl.snomed.datastore.snomedNamespaceAndModuleAssigner">
      <assigner
            class="com.b2international.snowowl.snomed.reasoner.diff.DefaultNamespaceAndModuleAssigner"
            priority="10">
      </assigner>
   </extension>
</plugin>
