<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.b2international.snowowl.core.bootstrapFragments">
      <bootstrapFragment
            class="com.b2international.snowowl.snomed.reasoner.SnomedReasonerBootstrap">
      </bootstrapFragment>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.mappingProvider">
      <provider
            class="com.b2international.snowowl.snomed.reasoner.index.ClassificationMappingProvider">
      </provider>
   </extension>
   <extension
         point="com.b2international.snowowl.datastore.server.classLoaderProvider">
      <classLoaderProvider
            class="com.b2international.snowowl.snomed.reasoner.SnomedReasonerClassLoaderProvider">
      </classLoaderProvider>
   </extension>
</plugin>
