<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ldapLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="com.b2international.snowowl.authentication.ldap.LdapLoginModule">
      </loginModule>
   </extension>
   <extension
         point="com.b2international.snowowl.core.bootstrapFragments">
      <bootstrapFragment
            class="com.b2international.snowowl.authentication.ldap.LdapAuthenticationBootstrap">
      </bootstrapFragment>
   </extension>

</plugin>
