<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>com.b2international.snowowl.api.rest</display-name>

	<welcome-file-list>
		<welcome-file>/static/index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>restServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>com.b2international.snowowl.api.rest.SnowOwlApiConfig</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>

		<multipart-config>
			<location>/tmp</location>
			<max-file-size>734003200</max-file-size>
			<max-request-size>734003200</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>

	<filter>
		<!-- Note that this name is magic: it will be used to look up a filter 
			bean in the Spring application context. -->
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
	</filter>

	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<servlet-mapping>
		<servlet-name>restServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<servlet-name>restServlet</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<servlet-name>restServlet</servlet-name>
	</filter-mapping>

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

</web-app>
