<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2004 - 2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   	<extension-point id="storeFactories" name="%extension-point.name" schema="schema/storeFactories.exsd"/>
   	<extension-point id="repositoryFactories" name="%extension-point.name.0" schema="schema/repositoryFactories.exsd"/>
   	<extension-point id="appExtensions" name="%extension-point.name.1" schema="schema/appExtensions.exsd"/>

		<extension point="org.eclipse.net4j.util.factories">
      	<factory
            productGroup="org.eclipse.net4j.Negotiators"
            type="challenge"
            class="org.eclipse.net4j.util.security.ChallengeNegotiatorFactory"/>
      	<factory
            productGroup="org.eclipse.emf.cdo.server.browsers"
            type="default"
            class="org.eclipse.emf.cdo.server.CDOServerBrowser$ContainerBased$Factory"/>
   	</extension>

		<extension point="org.eclipse.net4j.util.elementProcessors">
				<elementProcessor class="org.eclipse.net4j.util.security.ChallengeNegotiatorConfigurer"/>
				<elementProcessor class="org.eclipse.emf.cdo.spi.server.RepositoryUserManager$RepositoryInjector"/>
  	</extension>

  	<extension point="org.eclipse.emf.cdo.server.repositoryFactories">
      	<repositoryFactory
        	class="org.eclipse.emf.cdo.spi.server.RepositoryFactory"
          repositoryType="default"/>
		</extension>

  	<extension point="org.eclipse.emf.cdo.server.storeFactories">
      	<storeFactory
        	class="org.eclipse.emf.cdo.internal.server.mem.MEMStoreFactory"
          storeType="mem"/>
   	</extension>

    <extension id="app" point="org.eclipse.core.runtime.applications" name="%app.name">
				<application cardinality="1" thread="any">
					<run class="org.eclipse.emf.cdo.internal.server.bundle.CDOServerApplication"/>
 				</application>
		</extension>

</plugin>
