<configuration>

	<!-- Generic console log. -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>SNOW_OWL</marker>
			</evaluator>
			<!--  do not log the audit, it has dedicated appender -->
			<onMismatch>NEUTRAL</onMismatch>
			<onMatch>DENY</onMatch>
		</filter>
	    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>SNOW_OWL_USER_ACCESS</marker>
			</evaluator>
			<!--  do not log the audit, it has dedicated appender -->
			<onMismatch>NEUTRAL</onMismatch>
			<onMatch>DENY</onMatch>
		</filter>
	    <encoder>
	      <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%thread] %-5level %logger{35} - %msg %n</pattern>
	    </encoder>
	  </appender>

	<!--  Appender for user activity to be logged on the console -->
	<appender name="STDOUT_USER_ACTIVITY" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>SNOW_OWL</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>ACCEPT</onMatch>
		</filter>
		<encoder>
			<Pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] User: %X{USER} Branch: %X{BRANCH} Event: %msg %ex%n</Pattern>
		</encoder>
	</appender>
	
	<!--  Appender for user access to be logged on the console -->
	<appender name="STDOUT_USER_ACCESS" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>SNOW_OWL_USER_ACCESS</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>ACCEPT</onMatch>
		</filter>
		<encoder>
			<Pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] User: %X{USER} Event: %msg %ex%n</Pattern>
		</encoder>
	</appender>
	
	<!--  Appender for import to be logged on the console -->
	<appender name="STDOUT_IMPORT_ACTIVITY" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>SNOW_OWL_IMPORT</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>ACCEPT</onMatch>
		</filter>
		<encoder>
			<Pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] User: %X{USER} Event: %msg %ex%n</Pattern>
		</encoder>
	</appender>
	
	<!--  Appender for export to be logged on the console -->
	<appender name="STDOUT_EXPORT_ACTIVITY" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>SNOW_OWL_EXPORT</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>ACCEPT</onMatch>
		</filter>
		<encoder>
			<Pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] User: %X{USER} Event: %msg %ex%n</Pattern>
		</encoder>
	</appender>

	<!--  Appender for user activity to be logged in a file -->
	<appender name="SNOWOWL_LOG_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>snowowl_user_audit.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>snowowl_user_audit%i.log</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>SNOW_OWL</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>ACCEPT</onMatch>

		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] User: %X{USER} Branch: %X{BRANCH} Event: %msg %ex%n</Pattern>
		</encoder>
	</appender>
	
	<!--  Appender for user access to be logged in a file -->
	<appender name="SNOWOWL_ACCESS_LOG_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>snowowl_user_access.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>snowowl_user_access%i.log</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>SNOW_OWL_USER_ACCESS</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>ACCEPT</onMatch>

		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] User: %X{USER} Event: %msg %ex%n</Pattern>
		</encoder>
	</appender>
	
	<!--  Appender for import to be logged in a file -->
	<appender name="SNOWOWL_IMPORT_ACTIVITY"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>snowowl_import.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>snowowl_import%i.log</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>SNOW_OWL_IMPORT</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>ACCEPT</onMatch>

		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] User: %X{USER} Event: %msg %ex%n</Pattern>
		</encoder>
	</appender>
	
	<!--  Appender for import to be logged in a file -->
	<appender name="SNOWOWL_EXPORT_ACTIVITY"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>snowowl_export.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>snowowl_export%i.log</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>SNOW_OWL_EXPORT</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>ACCEPT</onMatch>

		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] User: %X{USER} Event: %msg %ex%n</Pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDOUT_USER_ACTIVITY" />
		<!-- <appender-ref ref="STDOUT_USER_ACCESS" /> -->
		<appender-ref ref="STDOUT_IMPORT_ACTIVITY" />
		<appender-ref ref="STDOUT_EXPORT_ACTIVITY" />
		<appender-ref ref="SNOWOWL_LOG_FILE" />
		<appender-ref ref="SNOWOWL_ACCESS_LOG_FILE" />
		<appender-ref ref="SNOWOWL_IMPORT_ACTIVITY" />
		<appender-ref ref="SNOWOWL_EXPORT_ACTIVITY" />
	</root>
</configuration>