<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <listAttribute key="com.mountainminds.eclemma.core.SCOPE_IDS">
        <listEntry value="=com.b2international.snowowl.snomed.datastore/xtend-gen"/>
        <listEntry value="=com.b2international.snowowl.snomed.datastore/src"/>
    </listAttribute>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/com.b2international.snowowl.snomed.reasoner.tests/src/com/b2international/snowowl/snomed/reasoner/AllSnomedReasonerTests.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.b2international.snowowl.snomed.reasoner.AllSnomedReasonerTests"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.b2international.snowowl.snomed.reasoner.tests"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms1g -Xmx1g -XX:+UseConcMarkSweepGC -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -XX:+AlwaysPreTouch"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="com.b2international.snowowl.product.product"/>
    <booleanAttribute key="run_in_ui_thread" value="false"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="com.diffplug.osgi.extension.sun.misc@default:false"/>
        <setEntry value="com.diffplug.osgi.extension.sun.reflect@default:false"/>
        <setEntry value="com.fasterxml.classmate@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-annotations@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-core@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-databind@default:default"/>
        <setEntry value="com.fasterxml.jackson.dataformat.jackson-dataformat-cbor@default:default"/>
        <setEntry value="com.fasterxml.jackson.dataformat.jackson-dataformat-csv@default:default"/>
        <setEntry value="com.fasterxml.jackson.dataformat.jackson-dataformat-smile@default:default"/>
        <setEntry value="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml@default:default"/>
        <setEntry value="com.fasterxml.jackson.module.jackson-module-afterburner@default:default"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.google.inject@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.sun.activation.javax.activation@default:default"/>
        <setEntry value="com.sun.el@default:default"/>
        <setEntry value="com.sun.xml.bind.jaxb-core@default:default"/>
        <setEntry value="com.sun.xml.bind.jaxb-impl@default:default"/>
        <setEntry value="de.svenkubiak.jBCrypt@default:default"/>
        <setEntry value="io.github.classgraph.classgraph@default:default"/>
        <setEntry value="io.github.classgraph@default:default"/>
        <setEntry value="io.netty.buffer@default:default"/>
        <setEntry value="io.netty.codec-http@default:default"/>
        <setEntry value="io.netty.codec@default:default"/>
        <setEntry value="io.netty.common@default:default"/>
        <setEntry value="io.netty.handler@default:default"/>
        <setEntry value="io.netty.resolver@default:default"/>
        <setEntry value="io.netty.transport@default:default"/>
        <setEntry value="io.reactivex.rxjava2.rxjava@default:default"/>
        <setEntry value="it.unimi.dsi.fastutil@default:default"/>
        <setEntry value="javax.activation-api@default:default"/>
        <setEntry value="javax.el@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="jaxb-api@default:default"/>
        <setEntry value="jcl.over.slf4j@default:default"/>
        <setEntry value="jul.to.slf4j@default:default"/>
        <setEntry value="log4j.over.slf4j@default:default"/>
        <setEntry value="net.bytebuddy.byte-buddy*1.9.0.v20181107-1410@default:default"/>
        <setEntry value="net.bytebuddy.byte-buddy-agent@default:default"/>
        <setEntry value="net.jodah.failsafe@default:default"/>
        <setEntry value="net.jodah.typetools@default:default"/>
        <setEntry value="org.antlr.runtime@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.commons.cli@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.lang@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpasyncclient@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpclient*4.5.3@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpcore*4.4.10@default:default"/>
        <setEntry value="org.codehaus.groovy@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.transforms.hook@default:false"/>
        <setEntry value="org.eclipse.equinox.weaving.hook@default:false"/>
        <setEntry value="org.eclipse.jdt.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.net4j.jvm@default:default"/>
        <setEntry value="org.eclipse.net4j.tcp@default:default"/>
        <setEntry value="org.eclipse.net4j.util@default:default"/>
        <setEntry value="org.eclipse.net4j@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:default"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.pde.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.xtend.lib.macro@default:default"/>
        <setEntry value="org.eclipse.xtend.lib@default:default"/>
        <setEntry value="org.eclipse.xtext.common.types@default:default"/>
        <setEntry value="org.eclipse.xtext.ecore@default:default"/>
        <setEntry value="org.eclipse.xtext.util@default:default"/>
        <setEntry value="org.eclipse.xtext.xbase.lib@default:default"/>
        <setEntry value="org.eclipse.xtext@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.hdrhistogram.HdrHistogram@default:default"/>
        <setEntry value="org.jetbrains.kotlin.osgi-bundle@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.mockito@default:default"/>
        <setEntry value="org.objectweb.asm.tree@default:default"/>
        <setEntry value="org.objectweb.asm@default:default"/>
        <setEntry value="org.objenesis@default:default"/>
        <setEntry value="org.protege.common@default:default"/>
        <setEntry value="org.protege.editor.core.application@default:default"/>
        <setEntry value="org.protege.editor.owl@default:default"/>
        <setEntry value="org.reactivestreams.reactive-streams@default:default"/>
        <setEntry value="org.semanticweb.owl.owlapi@default:default"/>
        <setEntry value="org.snomed.otf.snomed-owl-toolkit@default:default"/>
        <setEntry value="org.yaml.snakeyaml@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="com.b2international.collections.api@default:default"/>
        <setEntry value="com.b2international.collections.fastutil@default:false"/>
        <setEntry value="com.b2international.collections.jackson@default:default"/>
        <setEntry value="com.b2international.commons@default:default"/>
        <setEntry value="com.b2international.index.tests.tools@default:default"/>
        <setEntry value="com.b2international.index@default:default"/>
        <setEntry value="com.b2international.mapdb@default:default"/>
        <setEntry value="com.b2international.snowowl.core@default:default"/>
        <setEntry value="com.b2international.snowowl.eventbus@default:default"/>
        <setEntry value="com.b2international.snowowl.logback.config@default:default"/>
        <setEntry value="com.b2international.snowowl.rpc@default:default"/>
        <setEntry value="com.b2international.snowowl.snomed.cis@default:default"/>
        <setEntry value="com.b2international.snowowl.snomed.common@default:default"/>
        <setEntry value="com.b2international.snowowl.snomed.datastore@default:default"/>
        <setEntry value="com.b2international.snowowl.snomed.ecl@default:default"/>
        <setEntry value="com.b2international.snowowl.snomed.icons@default:default"/>
        <setEntry value="com.b2international.snowowl.snomed.ql@default:default"/>
        <setEntry value="com.b2international.snowowl.snomed.reasoner.tests@default:false"/>
        <setEntry value="com.b2international.snowowl.snomed.reasoner@default:default"/>
        <setEntry value="com.b2international.snowowl.snomed.scg@default:default"/>
        <setEntry value="com.b2international.snowowl.test.dependencies@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
