<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="codeSystemVersionProvider" name="Code System Version Provider" schema="schema/codeSystemVersionProvider.exsd"/>
   <extension-point id="codeSystemBuilder" name="Code SystemBuilder" schema="schema/codeSystemBuilder.exsd"/>
   <extension-point id="codeSystemEntryBuilder" name="Code System Entry Builder" schema="schema/codeSystemEntryBuilder.exsd"/>
   <extension-point id="codeSystemVersionEntryBuilder" name="Code System Version Entry Builder" schema="schema/codeSystemVersionEntryBuilder.exsd"/>
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
      <serviceConfigJob
            class="com.b2international.snowowl.terminologyregistry.core.serviceconfig.TerminologyRegistryIndexServiceConfigJob"
            id="com.b2international.snowowl.terminologyregistry.core.serviceconfig.TerminologyRegistryIndexServiceConfigJob"
            terminologyId="UNSPECIFIED"><!-- delightfully meta -->
      </serviceConfigJob>
   </extension>
</plugin>
