<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="com.b2international.snowowl.fhir.core.codeSystemProvider">
      <codeSystemApiProvider
            class="com.b2international.snowowl.snomed.fhir.SnomedCodeSystemApiProvider">
      </codeSystemApiProvider>
   </extension>
   <extension point="com.b2international.snowowl.fhir.core.valueSetProvider">
      <valueSetApiProvider
            class="com.b2international.snowowl.snomed.fhir.SnomedValueSetApiProvider">
      </valueSetApiProvider>
   </extension>
   <extension point="com.b2international.snowowl.fhir.core.conceptMapProvider">
      <conceptMapApiProvider
            class="com.b2international.snowowl.snomed.fhir.ReferenceSetConceptMapApiProvider">
      </conceptMapApiProvider>
   </extension>
</plugin>