<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.b2international.snowowl.datastore.serviceConfigJob">
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.mrcm.core.server.setup.MrcmImporterConfigJob"
            id="com.b2international.snowowl.snomed.mrcm.core.server.setup.MrcmImporterConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
      <serviceConfigJob
            class="com.b2international.snowowl.snomed.mrcm.core.server.setup.MrcmExporterConfigJob"
            id="com.b2international.snowowl.snomed.mrcm.core.server.setup.MrcmExporterConfigJob"
            terminologyId="com.b2international.snowowl.terminology.snomed">
      </serviceConfigJob>
   </extension>

</plugin>
