<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.b2international.com/snowowl/dsl/ast"
            class="com.b2international.snowowl.snomed.dsl.query.queryast.ecoreastPackage"
            genModel="queryast.genmodel"/>
   </extension>
</plugin>
