<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!--
   <extension
         point="com.b2international.snowowl.datastore.changeProcessorFactory">
         <changeProcessorFactory
               id="com.b2international.snowowl.snomed.api.impl.SnomedTraceabilityChangeProcessorFactory"
               class="com.b2international.snowowl.snomed.api.impl.traceability.SnomedTraceabilityChangeProcessorFactory"
               repositoryUuid="snomedStore">
         </changeProcessorFactory>
   </extension>
   -->
</plugin>
